@import 'minima';

@mixin section-header {
  @include relative-font-size(1.75);
  border-bottom: 0.1em solid #ccc;
}

.project-list {
  margin-left: 0;
  list-style: none;

  li {
    margin-bottom: $spacing-unit;
  }
}

.project-list-heading {
  @include section-header;
}

.project-title {
  @include relative-font-size(1.5);
  margin-bottom: 0;
}

.project-github {
  @include relative-font-size(0.9);
  display: block;
}

.post-list-heading {
  @include section-header;
}
